html, body, header, main, section, table, h2, h3, button, svg, div, ul, p {
  margin: 0;
  padding: 0;
  border: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

/* input, textarea {
  width: 100%;
} */
input {
  height: 1.2rem;
}

#root {
  width: 60%;
  min-width: 680px;
}


.App {
  background-color: gray;
  padding: 3rem;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.App-link {
  color: #09d3ac;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.Wait-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color:  #0d3f0d;
}

.message {
  margin-bottom: 10px;
}

.error {
  height: 1em;
  color: red;
  display: block;
  margin-bottom: 10px;
}

.success {
  color: limegreen;
}

.warn {
  color: orange;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-section h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form-section ul {
  list-style-position: inside;
}

.field-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-width: 1px;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
}

.field-section label {
  width: 14rem;
}

.field-section button {
  margin-left: 20px;
  padding: 5px 20px;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  color: whitesmoke;
  background-color: steelblue;
}

.button-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.button-section button {
  padding: 10px 20px;
  margin-bottom: 2rem;
  margin-right: 10px;
}

.data-table {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-spacing: 0;
  margin: 20px 0px;
}

.data-table th {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 5px 10px;
}

.data-row td {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.data-row td {
  padding: 5px 10px;
}

.main-tabs {
  text-transform: uppercase;
  font-weight: bold;
}

.react-tabs {
  width: 100%;
}

.main-tabs .react-tabs__tab--selected {
  background-color: lightgreen;
}

.map-area {
  margin: 10px 0px;
  padding: 0px;
  /* border: 1px solid whitesmoke; */
  width: 400px;
  height: 300px;
}

.map-area>div {
  width: 400px !important;
  height: 300px !important;
}




